[user]
	email = quixaq@tutamail.com
	name = Quixaq
	signingKey = /home/quixaq/.ssh/id_quixaq_signing
[credential "https://github.com"]
	helper =
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/run/current-system/sw/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	editor = nano
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/quixaq/.ssh/allowed_signers
[commit]
	gpgsign = true
